name: Build and Deploy Angular App

on:
  push:
    branches:
      - angular-version

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Angular App
        run: |
          npm install -g @angular/cli
          ng build --configuration production --base-href "/Raj-Photography/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist/raj-photography   # <-- PUT YOUR FOLDER NAME HERE
